.badge{
    width: 100%;
    height: 150px;
    background-color: #f6f6f6;
    display: flex;
    justify-content: center;
    align-items: center;
}

.badgeContent{
    /* border: solid 1px yellow; */
    width: 65%;
    height: 90%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.badgeContent > img {
    /* border: solid 1px green; */
    width: auto;
    height: 100%;
    margin-left: 20px;
}

.cont{
    width: 92px !important;
    height: 123px !important;
}

.rank2{
    /* border: solid 1px blue; */
    width: 125px !important;
    height: 70px !important;
}
