.img{
    /* border: solid 1px red; */
    width: 50%;
    height: 600px;
    padding: 62px 0;
    z-index: 0;
    
}

.homeImg{
    /* border: solid 1px red */
}

.imgContainer{
    /* border: solid 1px blue; */
    display: flex;
    justify-content: flex-end;
    z-index: 0;
}

.imgContainer > a {
    z-index: 0;
}

.emptySpace{
    width: 185px;
}